
.main_container_main
{
    height: 100vh;
    background-color: var(--background-cinza1);
    position: relative;
    overflow: hidden;
    header 
    {
        width: 100%;
        height: fit-content;
        background-color: var(--background-cinza1);
        font-family: 'Bebas Neue', sans-serif;
        
        .simple_middle
        {
            width: 100%;
            height: 120px;
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            background-color: var(--cor_cinza2);
            border-left: 4px solid;
            border-right: 4px solid;
            border-bottom: 4px solid;
            .logo_titulo_header 
            {
                display: flex;
                align-items: center;
                width: fit-content;
                // background-color: aqua;
                width: 25%;
        
                img {
                    width: fit-content;
                    height: 120px;
                    margin: -15px 10px 0px 0px
                }
        
                h1 {
                    font-family: "Aladin";
                    color: white;
                    margin: 0px 0px 0px -20px;
                    font-size: 2em;
                    font-weight: 100;
                }
            }
        }
    }
    .login_info_form
    {
        // background-color: rgba(11, 172, 11, 0.521);
        height: calc(100% - 120px);
        padding: 60px 0px 0px 0px;
        display: flex;
        align-items: center;
        .sou_cliente
        {
            width: 340px;
            height: 290px;
            padding: 20px;
            background-color: var(--cor_cinza1);
            margin: 0px 10px auto auto;
            font-family: 'ABeeZee',sans-serif;
            box-shadow: -15px -15px 0px 0px var(--roxo-sombra);
            border: 1.2px solid;
            h3
            {
                font-family: 'Bebas neue', sans-serif;
                font-size: 4.5em;
                font-weight: 100;
                height: fit-content;
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 10px;
                span 
                {
                    font-family: 'ABeeZee', sans-serif;
                    font-size: 0.3em;
                    margin: -23px 0px 0px 36px;
                }
            }
            p
            {
                // background-color: green;
                height: 74%;
                display: flex;
                align-items: center;
                font-size: 1.1em;
            }
            
        }
        .login_metodohoods
        {
            margin: -30px auto 0px 10px;
            height: 100%;
            .login_cliente 
            {
                width: 500px;
                height: 330px;
                border: 1.2px solid;
                background-color: var(--cor_cinza1);
                box-shadow: 15px 15px 0px 0px var(--roxo-sombra);
                padding: 20px 30px 0px 30px;
                font-family: 'ABeeZee', sans-serif;
                font-size: 1.2em;
                display: flex;
                flex-direction: column;
                
                label
                {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    input
                    {
                        height: 47px;
                        border: 3px solid;
                        margin: 2px 0px;
                        padding: 10px;
                        font-size: 1em;
                    }
                    svg
                    {
                        position: absolute;
                        right: 10px;
                        bottom: 8.5px;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }
                
        
                label:nth-child(2) {
                    margin-top: 30px;
                }
        
                a {
                    color: black;
                    font-size: 0.7em;
                    margin-top: 5px;
                }
        
                a:visited {
                    color: black;
                }
        
                span {
                    height: 100%;
                    display: flex;
                    align-items: center;
        
                    button {
                        cursor: pointer;
                    }
        
                    button:nth-child(1) {
                        margin: auto auto auto 0px;
                        width: 170px;
                        height: 60px;
                        border: 3.3px solid black;
                        background-color: #6A00FF;
                        color: white;
                        font-size: 1.5em;
                        font-family: 'Bebas Neue', sans-serif;
                        transition: 0.2s;
                    }
                    button:nth-child(1):hover
                    {
                        background-color: #8024ff;
                    }
        
                    a {
                        margin: auto;
                        width: 170px;
                        height: 60px;
                        // background-color: green;
                        font-family: 'Bebas Neue', sans-serif;
                        color: #0094FF;
                        font-size: 1.5em;
                        border: none;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
        
                    a:hover {
                        text-decoration: underline;
                    }
                    a:visited
                    {
                        color:#0094FF;
                    }
                }
            }
            .external_metodos
            {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                span 
                {
                    // background-color: yellow;
                    width: 90%;
                    margin: 20px auto 10px auto;
                    text-align: center;
                    border-bottom: 2px solid;
                }
            }
            .login_facebook,.login_google
            {
                font-family: 'Bebas Neue', sans-serif;
                font-size: 2em;
                cursor: pointer;
                width: fit-content;
                // height: 50px;
                border: 1.5px solid;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--cor_cinza1);
                margin: 3px 0px;
                padding: 10px 20px;
                svg
                {
                    margin: 0px 7px 0px 3px;
                    width: 40px;
                    height: 40px;
                }
            }
            .login_facebook:hover,.login_google:hover
            {
                background-color: #afafaf ;
            }
            .login_facebook
            {
                svg
                {
                    color: blue;
                }
            }
            .login_google
            {
                svg
                {
                    color: red;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    .racoon_planet
    {
        position: absolute;
        width: 250px;
        height: 250px;
        bottom: 0px;
        display: flex;
        align-items: center;
        svg
        {
            width: 100%;
            height: 100%;
            color: #2ea022;
            position: absolute;
            z-index: 2;
            // border: 2px solid black;
            border-radius: 50%;
        }
        div {
            width: 85%;
            height: 85%;
            margin: auto;
            box-shadow: 0px 0px 0px 7px black;
            left: 7.5%;
            background-color: aqua;
            position: absolute;
            border-radius: 50%;
        }
        img:nth-child(3)
        {
            // background-color: green;
            position: absolute;
            z-index: 3;
            top: -20%;
            width: 160%;
            height: 160%;
        }
    }
}