.container {
  max-width: 1200px;
  margin: auto;

  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 12px;

  .divider {
    width: 100%;
  }
}

.store-area {
  display: flex;
  flex-direction: column;
  gap: 12px;

  text-align: center;

  .text-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.product-list-area {
  display: flex;
  flex-direction: column;

  gap: 12px;

  width: 100%;

  .txt-title {
    text-align: center;
  }

  .product-loading {
    align-self: center;
    min-height: 320px;
  }

  .product-list {
    overflow: auto;

    display: grid;

    grid-auto-flow: column;

    gap: 24px;
    padding: 12px;

    justify-content: space-evenly;
  }

  .pagination {
    display: flex;
    justify-content: center;
  }
}
