@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Inter", sans-serif;
}

html,
body,
#__next {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

#__next {
  padding: 0px 12px;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.link:hover {
  color: orange;
  border-bottom: 1px solid orange;
}

.c-accent {
  color: orange;
}

.dft-padding {
  padding: 12px 24px;
}

.txt-sm {
  font-size: 12px;
}
