@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Bebas+Neue&family=Poppins:wght@500&display=swap');

.main_container_main {
    background-color: var(--background-cinza1);
    height: 100vh;
    header {
        width: 100%;
        height: fit-content;
        background-color: var(--background-cinza1);
        font-family: 'Bebas Neue', sans-serif;
        
        .top_infos_header {
            width: 100%;
            height: 25px;
            background-color: var(--cor_cinza1);
            display: flex;
            box-shadow: 0px 0px 10px black;
            position: absolute;
            h2 {
                font-size: 1.5em;
            }

            .date_weather_header {
                width: 10%;
                background-color: var(--cor_cinza1);
                display: flex;
                align-items: center;
                padding: 0px 3px 0px 3px;
                svg {
                    width: 22px;
                    margin: 2px 7px 0px 7px;
                }
            }

            .social_media_header {
                width: 8%;
                background-color: var(--cor_cinza1);
                display: flex;
                align-items: center;
                padding: 0px 3px 0px 3px;
                a {
                    // background-color: green;
                    display: flex;
                    align-items: center;
                    padding: 0px 0px 0px 0px;
                }

                svg {
                    // margin: auto;
                    width: 1.5em;
                }

                a:nth-child(2) 
                {
                    margin: 0px 0px 0px 0px;
                    svg 
                    {
                        // margin-top: px;
                        margin: 1px 0px 0px 0px;
                        width: 1.85em;
                    }
                }
            }

            .mais_vendidos_header {
                width: 56%;
                background-color: #d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'ABeeZee', sans-serif;
                font-size: 1.17em;
                border-right: 3px solid;
                padding: 0px 3px 0px 3px;
                ul {
                    width: fit-content;
                    display: flex;
                    width: 100%;
                    align-items: center;

                    li {
                        list-style: none;
                        width: 25%;
                        margin: auto;
                        text-align: center;
                        text-decoration: underline;
                        font-size: 13px;
                        transition: 0.35s;
                        cursor: pointer;
                        // margin: 0px 10px 0px 10px;
                    }
                    li:hover
                    {
                        font-size: 13.5px;
                        color: orangered;
                    }
                }
            }

            .idioma_header {
                width: 13%;
                background-color: #d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 3px solid;
                border-right: 3px solid;
                padding: 0px 0px 0px 0px;
                position: relative;
                z-index: 2;
                .idiom_selected_header
                {
                    background-color: #d9d9d9;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0px 3px;
                    h2
                     {
                        width: 100%;
                        text-align: center;
                        cursor: default;
                    }
                
                    span {
                        display: flex;
                        align-items: end;
                        padding-top: 0px 0px 0px 0px;
                        cursor: pointer;
                    }
                }
                .idioma_select_header
                {
                    position: absolute;
                    z-index: -1;
                    top: 100%;
                    background-color: #d9d9d9;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 2px 3px 0px 3px;
                    align-items: center;
                    cursor: pointer;
                    // border-left: 3px solid;
                    // border-right: 3px solid;
                    // border-bottom: 3px solid;
                    border: 3px solid;
                    transition: 0.35s;
                    h2
                    {

                    }
                }
                .idioma_select_header:hover
                {
                    background-color: #bebcbc;
                }
            }

            .cambio_header {
                width: 13%;
                background-color: #d9d9d9;
                display: flex;
                align-items: center;
                justify-content: center;
                border-left: 3px solid;
                padding: 0px 3px 0px 3px;
                position: relative;
                .camb_selected_header
                {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    height: 100%;
                    background-color: var(--cor_cinza1);
                    z-index: 2;
                    width: 100%;
                }
                h2
                {
                    margin: 0px 0px 0px auto;
                }
                svg
                {
                    width: 1.95em;
                    margin: -3px 4px 0px 4px;
                }
                svg:nth-child(2)
                {
                    width: 1.92em;
                    margin: -3px 4px 0px 2px;
                }
                svg:nth-child(3)
                {
                    margin: 0px 0px 0px auto;
                }
                .camb_select_header
                {
                    position: absolute;
                    z-index: 1;
                    top: 0%;
                    background-color: #d9d9d9;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    padding: 2px 3px 0px 3px;
                    align-items: center;
                    cursor: pointer;
                    // border-left: 3px solid;
                    // border-right: 3px solid;
                    // border-bottom: 3px solid;
                    border: 3px solid;
                    transition: 0.35s;
                    svg
                    {
                        margin: 0px auto 2px 2px;
                    }
                    h2
                    {
                        margin: 0px 0px 0px auto;
                    }
                }
            }
        }
        .middle_infos_header
        {
            width: 100%;
            height: 120px;
            padding-top: 25px;
            display: flex;
            flex-direction: row;
            background-color: var(--cor_cinza2);
            border-left: 4px solid;
            border-right: 4px solid;
            border-bottom: 4px solid;
            .logo_titulo_header
            {
                display: flex;
                align-items: center;
                width: fit-content;
                // background-color: aqua;
                width: 25%;
                img
                {
                    width: fit-content;
                    height: 120px;
                    margin: -15px 10px 0px 0px
                }
                h1
                {
                    font-family: "Aladin";
                    color: white;
                    margin: 0px 0px 0px -20px;
                    font-size: 2em;
                    font-weight: 100;
                }
            }
            .pesquisa_produtos_header
            {
                // background-color: green;
                width: 47%;
                display: flex;
                align-items: center;
                justify-content: center;
                form
                {
                    background-color: white;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    border: 3.5px solid;
                    .categoria_form_search
                    {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        padding: 0px 7px 0px 7px;
                        
                        h3
                        {
                            margin: 0px 5px 0px 5px;
                            font-size: 1.7em;
                            cursor: pointer;
                        }
                        svg
                        {
                            transform: rotateZ(180deg);
                            position: block;
                            margin: 0px 5px 0px 5px;
                            transition: 0.2s;
                            cursor: pointer;
                        }
                        svg:active
                        {
                            transform: rotateZ(180deg)translateY(-3px);
                            
                        }
                    }
                    input[type="text"] 
                    {
                        width: 100%;
                        height: 60px;
                        padding: 10px;
                        font-size: 1.2em;
                        transition: 0.2s;
                        // box-shadow: 0px 0px 0px 2px purple;
                        outline: none;
                        border: none;
                        border-left: 3.5px solid;
                    }
                    input[type="text"]:focus ~ form
                    {
                        box-shadow: 2px 2px 10px 10px white;
                    }
                    .form_header_esquisar
                    {
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        right: 5px;
                        background-color: white;
                    }
                    .categorias_form_header
                    {
                        width: 300px;
                        height: fit-content;
                        position: absolute;
                        top: 100%;
                        left: -3.5px;
                        font-weight: bold;
                        transition: 0.5s;
                        overflow: hidden;
                        ul
                        {
                            background-color: white;
                            list-style: none;
                            padding: 5px 10px;
                            width: 100%;
                            border: 3.5px solid;
                            max-height: 404px;
                            overflow: auto;
                            li
                            {
                                cursor: pointer;
                                h2
                                {
                                    font-size: 25px;
                                    transition: 0.2s;
                                }
                                h2:hover
                                {
                                    transform: translateX(5px);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                
            }
            
            .conta_infos_header
            {
                width: 24%;
                // background-color: purple;
                display: flex;
                align-items: center;
                justify-content: center;
                .perfil_header
                {
                    width: 85%;
                    height: 65px;
                    border: 3.5px solid;
                    background-color: var(--cor_cinza2);
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    padding: 0px 5px 0px 5px;
                    position: relative;
                    svg
                    {
                        // border: 3px solid white;
                        // border-radius: 50%;
                    }
                    span
                    {
                        margin: auto;
                        color: white;
                        font-size: 1.7em;
                        text-decoration: underline;
                    }
                    svg:nth-child(3)
                    {
                        transform: translateY(0px);
                        transition: 0.4s;
                    }
                    svg:nth-child(3):active
                    {
                        transform: translateY(10px);
                    }
                    .perfil_options
                    {
                        width: calc(100% + 6px);
                        height: fit-content;
                        overflow: hidden;
                        transition: 0.5s;
                        // border: 4px solid;
                        border-left: 4px solid;
                        border-right: 4px solid;
                        border-bottom: 4px solid;
                        background-color: var(--cor_cinza2);
                        position: absolute;
                        left: -3.1px;
                        top: 100%;
                        ul
                        {
                            list-style: none;
                            width: 100%;
                            // height: 0%;
                            justify-content: center;
                            text-align: left;
                            padding: 2px 0px 0px 10px;
                            border-top: 4px solid;
                            li
                            {
                                h3
                                {
                                    width: 100%;
                                    font-size: 25px;
                                    color: white;
                                    font-weight: 100;
                                    margin: 3px 0px 3px 0px;
                                    transition: 0.25s;
                                    cursor: pointer;
                                }
                                h3:hover
                                {
                                    transform: translateX(3px);
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
            .carrinho_header
            {
                width: 10%;
                // background-color: yellow;
                display: flex;
                justify-content: center;
                align-items: center;
                .carrinho
                {
                    position: relative;
                    height: fit-content;
                    svg 
                    {
                        width: 70px;
                        height: 70px;
                        // background-color: green;
                        color: black;
                    }
                
                    svg:nth-child(2) {
                        position: absolute;
                        color: white;
                        left: -6px;
                        background-color: transparent;
                    }
                    .carrinho_acumulado
                    {
                        width: 22px;
                        height: 22px;
                        background-color: white;
                        position: absolute;
                        right: 2px;
                        top: 70%;
                        border-radius: 50%;
                        border: 3px solid;
                        text-align: center;
                        font-size: 1em;
                    }
                }
            }
        }
        .footer_infos_header
        {
            width: 98%;
            height: 33px;
            display: flex;
            background-color: var(--cor_cinza1);
            border-left: 4px solid;
            border-right: 4px solid;
            border-bottom: 4px solid;
            margin: auto;
            .categorias_header
            {
                width: 10%;
                height: 100%;
                // background-color: green;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3em;
                text-decoration: underline;
                position: relative;
                h3
                {
                    margin: 0px auto;
                    cursor: pointer;
                }
                h3:active ~ svg
                {
                    transform: rotateZ(180deg) translateY(-2px);
                }
                svg
                {
                    transform: rotateZ(180deg);
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    right: 5px;
                    cursor: pointer;
                    transition: 0.2s;
                }
                svg:active
                {
                    transform: rotateZ(180deg) translateY(-2px);
                }
                .categorias
                {
                    width: 310px;
                    height: 0px;
                    // height: calc(100vh - 153px);
                    max-height: 535px;
                    position: absolute;
                    background-color: var(--cor_cinza1);
                    top: 100%;
                    left: -3.5px;
                    overflow: hidden;
                    transition: 0.3s;
                    ul
                    {
                        padding: 5px 10px;
                        list-style: none;
                        border: 3.5px solid;
                        height: calc(100vh - 153px);
                        overflow: auto;
                        li
                        {
                            font-weight: bold;
                            line-height: 1.3em;
                            margin: 0px 0px 15px 0px;
                            h2
                            {
                                font-size: 1.3em;
                            }
                            p
                            {
                                font-weight: 100;
                                font-family: 'Imprima',
                                    sans-serif;
                                transition: 0.2s;
                                cursor: pointer;
                            }
                            p:hover::after
                            {
                                content: " >";
                            }
                            p:hover
                            {
                                transform: translateX(5px);
                            }
                            span
                            {
                                font-family: 'ABeeZee',sans-serif;
                                font-weight: bolder;
                                transition: 0.2s;
                                cursor: pointer;
                            }
                            span:hover
                            {
                                color: orangered;
                                transform: translateX(5px);
                            }
                        }
                    }
                }
            }
            .util_header
            {
                width: 90%;
                height: 100%;
                // background-color: yellow;
                border-left: 3.5px solid;
                ul
                {
                    display: flex;
                    list-style: none;
                    padding: 0px 100px 0px 100px;
                    li
                    {
                        text-decoration: underline;
                        cursor: pointer;
                        margin: auto;
                        transition: 0.2s;
                    }
                    li:hover
                    {
                        // transform: translateY(-1px);
                        text-decoration: orangered underline;
                    }
                }
            }
        }
    }
}