.navbar {
  display: flex;
  gap: 12px;

  justify-content: space-between;
  align-items: center;

  .left-area {
    .logomark {
      margin: 6px;
    }
  }

  .right-area {
    display: flex;
    gap: 12px;

    align-items: center;
  }
}

.btn-icon {
  width: 24px;
  height: 24px;
  margin: 8px;
}
