@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Nunito:ital,wght@0,200;0,300;1,200;1,400;1,600;1,700&family=Roboto:wght@100;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;500&display=swap');

.main_container {
  background-color: rgb(245, 126, 0,0.25);
  height: 100vh;
  margin: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main_header
{
  height: 100px;
  width: 100%;
  // background-color: #0d0d0d ;
  display: flex;
  align-items: center;
  .logo_titulo
  {
    // background-color: green;
    display: flex;
    width: fit-content;
    height: 100%;
    .logo_main_header {
        // height: 100%;
        width: fit-content;
        position: relative;
        left: -10px;
        top: -26px;
        // background-color: red;
      }
    
      h1 {
        font-family: "Aladin";
        color: black;
        position: relative;
        left: -10px;
        top: 5px;
        // margin: 10px 0px 0px 0px;
        font-size: 1.9em;
        height: fit-content;
        margin: auto 0px auto auto;
      }
  }
  .welcome
  {
    font-family: 'Bebas Neue';
    color: white;
    // text-decoration: underline;
    margin: auto 0px auto -2px;
    // text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  }
  .about_seemore {
    position: relative;
    color: white;
    // background-color: green;
    margin: 0px 0px 0px auto;
    span:nth-child(1) {
      color: black;
      font-family: 'Source sans 3';
      font-size: large;
      margin: 0px 10px 0px 10px;
      cursor: pointer;
    }
    span:nth-child(1)::after {
      content: '';
      display: block;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #F57E00;
      top: 80%;
      left: 2.5%;
      transition: 0.5s;
    }
    span:nth-child(1):hover::after
    {
      width: 27%;
    }
    span:nth-child(2) {
      color: black;
      font-family: 'Source sans 3';
      font-size: large;
      margin: 0px 10px 0px 10px;
      cursor: pointer;
      // font-family: cursive;
      svg
      {
        width: 15px;
        height: 15px;
        margin: 0px 0px -2px 5px;
        path
        {
          color: green;
          // fill: white;
          // stroke: white;
        }
      }
    }
    span:nth-child(2)::after
    {
      content: '';
      display: block;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #F57E00;
      top: 80%;
      left: 34.7%;
      transition: 0.5s;
    }
    span:nth-child(2):hover::after
    {
      width: 57%;
    }
  }
}


.main_header_section
{
  display: flex;
  .main_titulo
  {
    text-align: left;
    max-width: 576px;
    text-align: center;
    // background-color: green;
    margin: 10px auto 0px auto;
    font-size: 2.2em;
    font-Family: "Source sans 3";

    span {
      color: #F57E00;
      // text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
      text-shadow: 1px 1px 5px black;
    }
  }
  .send_email_desk
  {
    max-width: 480px;
    padding: 30px;
    border: 2px solid;
    margin: auto;
    box-Shadow: 8px 8px #3F0957;
    h3
    {
      margin: 0px auto 10px auto;
    }
    .entry_form_desk
    {
      display: flex;
      flex-direction: column;
      align-items: center;
      p
      {
        margin: 10px auto 5px 0px;
      }
      input
      {
        width: 100%;
        height: 30px;
        border-radius: 2px;
        border: 1.5px solid;
      }
      button
      {
        width: 75%;
        margin: 20px auto auto auto;
        padding: 10px;
        border-radius: 5px;
        border: 0px solid;
        background-color: #6A00FF;
        font-family: 'Source sans 3';
        font-size: large;
        color: white;
        box-shadow: 5px 5px black;
        cursor: pointer;
      }
    }
  }
}
.send_email
{
  display: none;
}
.about_us
{
  // background-color: green;
  font-family: "imprima";
  margin: 50px 10px 10px 10px;
  h2
  {
    font-size: 1.5em;
    
  }
  .block_copy
  {
    margin: 10px 25px;
    max-width: 290px;
    padding: 5px;
    border: 2px solid;
    box-Shadow: -8px -8px #3F0957;
    font-size: 1.3em;
    text-align: center;
  }
}

.end_main_infos
{
  height: 100%;
  width: 100%;
  // background-color: #0d0d0d;
  background-color: rgb(245, 126, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  // margin: auto 0px 0px 0px;
  // transform: translateY(100%);
  .real_footer
  {
    // background-color: green;
    background-color: #0d0d0d;
    height: fit-content;
    width: 100%;
    margin: auto 0px 0px 0px;
    padding: 5px 0px 5px 0px;
    display: flex;
    h3 
    {
      font-size: 0.7em;
      font-weight: lighter;
      margin: auto;
    }
  }
  
}

