@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Nunito:ital,wght@0,200;0,300;1,200;1,400;1,600;1,700&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;500&display=swap");
.main_container {
  background-color: #FFF3E5;
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.main_header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
}
.main_header .logo_titulo {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}
.main_header .logo_titulo .logo_main_header {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: -10px;
  top: -26px;
}
.main_header .logo_titulo h1 {
  font-family: "Aladin";
  color: black;
  position: relative;
  left: -10px;
  top: 5px;
  font-size: 1.9em;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0px auto auto;
}
.main_header .about_seemore {
  position: relative;
  color: white;
  margin: 0px 0px 0px auto;
}
.main_header .about_seemore span:nth-child(1) {
  color: black;
  font-family: "Source sans 3";
  font-size: large;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.main_header .about_seemore span:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #F57E00;
  top: 80%;
  left: 2.5%;
  transition: 0.5s;
}
.main_header .about_seemore span:nth-child(1):hover::after {
  width: 27%;
}
.main_header .about_seemore span:nth-child(2) {
  color: black;
  font-family: "Source sans 3";
  font-size: large;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
}
.main_header .about_seemore span:nth-child(2) a {
  text-decoration: none;
}
.main_header .about_seemore span:nth-child(2) a:visited {
  color: black;
}
.main_header .about_seemore span:nth-child(2) svg {
  width: 15px;
  height: 15px;
  margin: 0px 0px -2px 5px;
}
.main_header .about_seemore span:nth-child(2) svg path {
  color: green;
}
.main_header .about_seemore span:nth-child(2)::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #F57E00;
  top: 80%;
  left: 34.7%;
  transition: 0.5s;
}
.main_header .about_seemore span:nth-child(2):hover::after {
  width: 57%;
}

.main_header_section {
  display: flex;
  align-items: center;
  margin: 0px 0px 70px 0px;
  background-image: linear-gradient(180deg, rgba(255, 243, 229, 0.75) 80%, rgb(255, 243, 229)), url("../../public/images/background1.jpg");
}
.main_header_section .main_titulo_email {
  width: 100%;
  display: flex;
}
.main_header_section .main_titulo {
  text-align: left;
  max-width: 576px;
  text-align: center;
  margin: -100px auto 0px auto;
  font-size: 2.2em;
  font-Family: "Source sans 3";
}
.main_header_section .main_titulo span {
  color: #F57E00;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
.main_header_section .send_email_desk {
  max-width: 480px;
  padding: 30px;
  border: 2px solid;
  margin: -100px auto 0px auto;
  box-Shadow: 8px 8px #3F0957;
  background-color: #FFF3E5;
}
.main_header_section .send_email_desk h3 {
  margin: 0px auto 10px auto;
}
.main_header_section .send_email_desk .entry_form_desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "source sans 3";
}
.main_header_section .send_email_desk .entry_form_desk p {
  margin: 10px auto 5px 0px;
}
.main_header_section .send_email_desk .entry_form_desk input {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: 1.5px solid;
  padding: 5px 5px 5px 8px;
}
.main_header_section .send_email_desk .entry_form_desk button {
  width: 75%;
  margin: 20px auto auto auto;
  padding: 10px;
  border: 0px solid;
  background-color: #6A00FF;
  font-family: "Source sans 3";
  font-size: large;
  color: white;
  box-shadow: 5px 5px black;
  cursor: pointer;
}
.main_header_section .send_email_desk .entry_form_desk div {
  margin: 20px auto -20px auto;
}

.send_email {
  display: none;
}

.about_us {
  width: 95%;
  max-width: 1200px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px auto 110px auto;
  border: 2px solid;
  display: flex;
  flex-direction: row;
  box-Shadow: 8px 8px #3F0957;
  position: relative;
  font-family: "source sans 3";
}
.about_us .detail_about_us {
  position: absolute;
  left: -35px;
  top: -35px;
  z-index: 1;
}
.about_us .itens_about_us {
  width: 100%;
  padding: 30px 0px 30px 0px;
  background-color: transparent;
  background-image: url("../../public/images/background2.jpg");
  background-position: -5px -5px;
  display: flex;
  position: relative;
  z-index: 2;
}
.about_us .itens_about_us .aprovacao,
.about_us .itens_about_us .produtos,
.about_us .itens_about_us .lojas {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  justify-content: center;
  transition: 0.5s;
}
.about_us .itens_about_us .aprovacao svg,
.about_us .itens_about_us .produtos svg,
.about_us .itens_about_us .lojas svg {
  margin: auto;
}
.about_us .itens_about_us .aprovacao h3,
.about_us .itens_about_us .produtos h3,
.about_us .itens_about_us .lojas h3 {
  margin: auto;
  font-size: 2em;
}
.about_us .itens_about_us .aprovacao span,
.about_us .itens_about_us .produtos span,
.about_us .itens_about_us .lojas span {
  margin: auto;
  font-size: 1em;
}
.about_us .itens_about_us .aprovacao:hover, .about_us .itens_about_us .produtos:hover, .about_us .itens_about_us .lojas:hover {
  transform: translateY(-6px);
}

.end_main_infos {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  background-color: #111111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 0px 0px;
}
.end_main_infos .util {
  display: flex;
  width: 90%;
  padding: 80px 0px 80px 0px;
  font-family: "Source Sans 3";
}
.end_main_infos .util .informacoes {
  margin: 0px auto;
  max-width: 33%;
}
.end_main_infos .util .informacoes ul {
  list-style: none;
}
.end_main_infos .util .informacoes ul li {
  transition: 0.1s;
  margin: 5px 0px;
  cursor: pointer;
}
.end_main_infos .util .informacoes ul li:hover {
  transform: translateX(5px);
}
.end_main_infos .util .sac {
  margin: auto;
  max-width: 30%;
}
.end_main_infos .util .sac p {
  font-weight: 300;
}
.end_main_infos .util .social {
  margin: 0px auto;
  max-width: 33%;
}
.end_main_infos .util .social ul {
  list-style: none;
}
.end_main_infos .util .social ul li {
  transition: 0.1s;
  margin: 5px 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.end_main_infos .util .social ul li svg {
  transition: 0.5s;
}
.end_main_infos .util .social ul li p {
  margin: 0px 0px 0px 5px;
}
.end_main_infos .util .social ul li:hover {
  transform: translateX(5px);
}
.end_main_infos .real_footer {
  background-color: #111111;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin: auto 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  display: flex;
}
.end_main_infos .real_footer h3 {
  font-size: 0.7em;
  font-weight: lighter;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .main_header .logo_titulo {
    flex-direction: column;
  }
  .main_header .logo_titulo h1 {
    position: absolute;
    left: 10px;
    top: 103px;
    font-size: 1.5em;
    margin: 0px;
  }
  .main_header .about_seemore {
    margin: 0px;
  }
  .main_header .about_seemore span:nth-child(1) {
    display: none;
  }
  .main_header .about_seemore span:nth-child(2) {
    display: flex;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
    margin: 0px auto 0px -10px;
    font-size: 1.1em;
  }
  .main_header .about_seemore span:nth-child(2) svg {
    margin: auto 5px;
    transition: 0.5s;
  }
  .main_header .about_seemore span:nth-child(2)::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F57E00;
    top: 80%;
    left: -5.5%;
  }
  .main_header .about_seemore span:nth-child(2):hover::after {
    width: 100%;
  }
  .main_header .about_seemore span:nth-child(2):active svg {
    transform: translateX(10px);
  }
  .main_header_section {
    padding: 160px 0px 0px 0px;
    background-size: cover;
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(255, 243, 229, 0.75) 90%, rgb(255, 243, 229)), url("../../public/images/background1.jpg");
  }
  .main_titulo_email {
    margin: auto;
    flex-direction: column;
  }
  .main_titulo_email .main_titulo {
    margin: 30px auto;
    justify-content: center;
    font-size: 2em;
  }
  .main_titulo_email .main_titulo span:nth-child(2) {
    width: 100%;
    display: block;
    font-size: 31px;
    justify-content: center;
  }
  .main_titulo_email .main_titulo span:nth-child(2) br {
    display: none;
  }
  .main_titulo_email .send_email_desk {
    width: 85%;
    margin: auto;
  }
  .main_titulo_email .send_email_desk .entry_form_desk button {
    width: 100%;
  }
  .about_us {
    width: 85%;
  }
  .about_us .itens_about_us {
    flex-direction: column;
    background-image: linear-gradient(150deg, transparent, transparent);
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .about_us .itens_about_us::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 110%;
    background-image: url("../../public/images/background2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    transform: rotatez(0deg);
    z-index: -1;
  }
  .util {
    flex-direction: column;
  }
  .util .informacoes, .util .sac, .util .social {
    max-width: 100% !important;
    text-align: center;
    margin: 10px auto !important;
  }
  .util .informacoes li, .util .sac li, .util .social li {
    margin: 5px auto;
  }
  .real_footer {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=index.module.css.map */