.container {
  max-width: 1200px;
  margin: auto;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 12px;
}

.product-txt-area {
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 12px;

  align-items: center;

  h1,
  h2 {
    text-transform: uppercase;
  }

  .header-area {
    display: flex;
    flex-direction: column;
    gap: 6px;

    align-items: center;
  }

  .details-area {
    display: flex;
    font-size: 10px;
    gap: 6px;
  }

  .price-area {
    box-shadow: -3px -3px 1px 1px black;
    border: 1px solid black;

    padding: 12px;

    width: 50%;

    display: flex;

    gap: 12px;

    align-items: center;

    justify-content: space-between;

    .txt-price {
      font-weight: bolder;
    }
  }

  .description-area {
    box-shadow: -3px -3px 1px 1px black;
    border: 1px solid black;

    padding: 12px;

    width: 50%;

    max-height: 200px;
    overflow: auto;

    text-align: initial;

    display: flex;
    flex-direction: column;

    gap: 12px;
  }
}

.action-area {
  display: flex;
  gap: 48px;

  justify-content: space-between;

  .btn-link {
    flex: 1;
  }
  .btn-link button {
    width: 100%;
    padding: 12px;
  }
  .btn-link:hover button {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.125);
  }

  .cta-btn {
    background-color: black;
    color: white;
    padding: 12px;
  }
  .cta-btn:hover {
    background-color: #111111;
  }
}
